
.timer-wrapper {
  display: block;
  float: right;

}

.time-left {
  margin: 20px;
  font-size: 3em;
  font-family: courier;
  margin: 0 5px 0;
}


.thing {
  position: absolute;
  top:  0;
  left:  0;
  font-size:  5vw;
  color:  papayawhip;
}

button {
  display: inline-block;
  margin: 0 2px 0;
  font-size: 2em;
  font-family: courier;
  color: white;
  background-color: black;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  line-height: 70px;
  text-align: center;
  cursor: pointer;
}

button:focus {
  outline: none;
}

 Map Hover Styles

.mapContainer a {
  cursor: pointer;
}

path, polygon {
  -webkit-transition: fill .25s ease-out;
  -moz-transition: fill .25s ease-out;
  transition: fill .25s ease-out;
}

.mapContainer a:hover path, .mapContainer a:focus path, .mapContainer a:active path, .mapContainer a:hover polygon, .mapContainer a:focus polygon, .mapContainer a:active polygon {
  fill: #1A81A2;
}

.stateHover path {
  fill: #1A81A2;
}


